<div class="navigation topic-list">
    <div class="topic-list__item">
        <h4> <a href="#"> Test </a> </h4>
        <h6>sdfsfsdfsdfsdfs</h6>
        <p class="text-tp">sdfsdfsdfsdfsf</p>
        <a href="{% url "topic" 1 %}" class="btn btn-outline-success">yes</a>

    </div>
    <div class="topic-list__item">
        <h4> <a href="#"> Test </a> </h4>
        <h6>sdfsfsdfsdfsdfs</h6>
        <p class="text-tp">sdfsdfsdfsdfsf</p>
        <a href="{% url "topic" 2 %}" class="btn btn-outline-success">yes</a>

    </div>
    <div class="topic-list__item">
        <h4> <a href="#"> Test </a> </h4>
        <h6>sdfsfsdfsdfsdfs</h6>
        <p class="text-tp">sdfsdfsdfsdfsf</p>
        <a href="{% url "topic" 3 %}" class="btn btn-outline-success">yes</a>

    </div>
</div>